<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head.ejs') %>



<body>

<!--inicio de header LOGO HAPPY CODING-->

<%- include('partials/header.ejs') %>



<!-- BOTONES -->

    <%- include('partials/animacion.ejs') %>


<!-- inicio contenedor secciones -->
<div class="contenedor">

<!-- Tshirts Button -->
    <div class='elementoTshirts'>
        <a href="tShirts" class="neon-button">T-Shirts</a>


        </div>

<!-- Funky Socks Button  -->
    <div class="elementoSocks">
        <a href="Socks" class="neon1-button">Funky Socks</a>

        </div>

<!-- Hacker bags Button -->
<div class='elementoBags'>
    <a href="bags" class="neon2-button">Hacker Bags</a>

    </div>

<!-- Code Hoodies Button  -->
<div class="elementoHoodies">
    <a href="hoodies" class="neon3-button">Code Hoodies</a>

    </div>

<!-- Smart Hats Button -->
<div class='elementoHats'>
    <a href="hats" class="neon4-button">Smart Hats</a>

    </div>

</div> <!--fin DIV botones-->    
</div>

</body>
<footer>
    <a href="/product/create" class="started-button">Create new product</a>
</footer>
</html>
